
{{!-- {{> minicart}} --}}

<!-- Cart Overlay -->
<div class="cart-overlay"></div>

{{> pagebanner}}

<!-- Cart Page Start -->
{{#with cart}}
<div class="page-section section pt-90 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="#">				
                    <!-- Cart Table -->
                    <div class="cart-table table-responsive mb-40">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="pro-thumbnail">Image</th>
                                    <th class="pro-title">Product</th>
                                    <th class="pro-price">Price</th>
                                    <th class="pro-quantity">Quantity</th>
                                    <th class="pro-subtotal">Total</th>
                                    <th class="pro-remove">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each items}}
                                {{#each item}}
                                <tr data-productId="{{id}}" id="item{{id}}">
                                    <td class="pro-thumbnail"><a href="#"><img src="{{thumbnailPath}}" alt="Product"></a></td>
                                    <td class="pro-title"><a href="#">{{name}}</a></td>
                                    <td class="pro-price"><span>{{price}}</span></td>
                                    <td class="pro-quantity"><div class="pro-qty" ><input type="text" value="{{../quantity}}"></div></td>
                                    <td class="pro-subtotal"><span id="pro-subtotal">{{../price}}</span></td>
                                    <td class="pro-remove"><a ><i class="fa fa-trash-o" id="pro-remove" onclick="removeCartItem({{id}})"></i></a></td>
                                </tr>
                                {{/each}}
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                    
                </form>	
                    
                <div class="row">

                    <div class="col-lg-6 col-12 mb-15">
                        <!-- Calculate Shipping -->
                        <div class="calculate-shipping">
                            <h4>Calculate Shipping</h4>
                            <form action="#">
                                <div class="row">
                                    <div class="col-md-6 col-12 mb-25">
                                        <select class="nice-select">
                                            <option>Bangladesh</option>
                                            <option>China</option>
                                            <option>country</option>
                                            <option>India</option>
                                            <option>Japan</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 col-12 mb-25">
                                        <select class="nice-select">
                                            <option>Dhaka</option>
                                            <option>Barisal</option>
                                            <option>Khulna</option>
                                            <option>Comilla</option>
                                            <option>Chittagong</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 col-12 mb-25">
                                        <input type="text" placeholder="Postcode / Zip">
                                    </div>
                                    <div class="col-md-6 col-12 mb-25">
                                        <input type="submit" value="Estimate">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- Discount Coupon -->
                        <div class="discount-coupon">
                            <h4>Discount Coupon Code</h4>
                            <form action="#">
                                <div class="row">
                                    <div class="col-md-6 col-12 mb-25">
                                        <input type="text" placeholder="Coupon Code">
                                    </div>
                                    <div class="col-md-6 col-12 mb-25">
                                        <input type="submit" value="Apply Code">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!-- Cart Summary -->
                    <div class="col-lg-6 col-12 mb-40 d-flex">
                        <div class="cart-summary">
                            <div class="cart-summary-wrap">
                                <h4>Cart Summary</h4>
                                <p>Sub Total <span id="totalPrice">{{totalPrice}}</span></p>
                                <p>Shipping Cost <span>$00.00</span></p>
                                <h2>Grand Total <span>{{totalPrice}}</span></h2>
                            </div>
                            <div class="cart-summary-button">
                                <a href="/cart/checkout"><button class="checkout-btn">Checkout</button></a>
                                <button class="update-btn">Update Cart</button>
                            </div>
                        </div>
                    </div>

                </div>
                
            </div>
        </div>
    </div>
</div>
{{/with}}
<!-- Cart Page End --> 



{{> brands}}

{{> subscribe}}
