{{#section 'js'}}
    <script>
        $('#checkout-form').on('submit', function(e) {
            e.preventDefault();
            const firstname = $('#firstname').val();
            const regex = "^[a-zA-Z_ÀÁÂÃÈÉÊÌÍÒÓÔÕÙÚĂĐĨŨƠàáâãèéêìíòóôõùúăđĩũơƯĂẠẢẤẦẨẪẬẮẰẲẴẶ" +
            "ẸẺẼỀỀỂưăạảấầẩẫậắằẳẵặẹẻẽềềểỄỆỈỊỌỎỐỒỔỖỘỚỜỞỠỢỤỦỨỪễệỉịọỏốồổỗộớờởỡợ" +
            "ụủứừỬỮỰỲỴÝỶỸửữựỳỵỷỹ\\s]+$";

            if (firstname.match(regex) == null) {
                $('#get-notice').html('Your first name is not valid.').css("color", "red");
                return;
            } 

            const lastname = $('#lastname').val();
            if(lastname.match(regex) == null){
                 $('#get-notice').html('Your last name is not valid.').css("color", "red");
                return;
            }

            const email = $('#email').val();
            
            const phone = $('#phonenumber').val();
            if(phone.match(/^[-+]?[0-9]+$/) == null){
                $('#get-notice').html('Your phone is not valid.').css("color", "red");
                return;
            }

            const address = $('#address').val();
            if(address == ''){
                $('#get-notice').html('Your address can not be null.').css("color", "red");
                return;
            }

            console.log('check', name.match(regex));
        })
    </script>

{{/section}}


<!-- Checkout Page Start -->
<div class="page-section section mt-90 mb-30">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h5 id="get-notice" style="font-weight: 600;"><span>{{notice}}</span></h5>

                <!-- Checkout Form s-->
                <form action="#" class="checkout-form" id="checkout-form">
                   <div class="row row-40">
                       
                       <div class="col-lg-7 mb-20">
                          
                           <!-- Billing Address -->
                           <div id="billing-form" class="mb-40">
                               <h4 class="checkout-title">Billing Address</h4>

                               <div class="row">

                                   <div class="col-md-6 col-12 mb-20">
                                       <label>First Name*</label>
                                       <input type="text" placeholder="First Name" id="firstname">
                                   </div>

                                   <div class="col-md-6 col-12 mb-20">
                                       <label>Last Name*</label>
                                       <input type="text" placeholder="Last Name" id="lastname">
                                   </div>

                                   <div class="col-md-6 col-12 mb-20">
                                       <label>Email Address*</label>
                                       <input type="email" placeholder="Email Address" id="email">
                                   </div>

                                   <div class="col-md-6 col-12 mb-20">
                                       <label>Phone no*</label>
                                       <input type="text" placeholder="Phone number" id="phonenumber">
                                   </div>

                                   <div class="col-12 mb-20">
                                       <label>Address*</label>
                                       <input type="text" placeholder="Address" id="address">
                                   </div>

                                   {{!-- <div class="col-12 mb-20">
                                       <div class="check-box">
                                           <input type="checkbox" id="create_account">
                                           <label for="create_account">Create an Acount?</label>
                                       </div>
                                       <div class="check-box">
                                           <input type="checkbox" id="shiping_address" data-shipping>
                                           <label for="shiping_address">Ship to Different Address</label>
                                       </div>
                                   </div> --}}

                               </div>

                           </div>
                           
                           <!-- Shipping Address -->
                           <div id="shipping-form" class="mb-40">
                               <h4 class="checkout-title">Shipping Address</h4>

                               <div class="row">

                                   <div class="col-md-6 col-12 mb-20">
                                       <label>First Name*</label>
                                       <input type="text" placeholder="First Name">
                                   </div>

                                   <div class="col-md-6 col-12 mb-20">
                                       <label>Last Name*</label>
                                       <input type="text" placeholder="Last Name">
                                   </div>

                                   <div class="col-md-6 col-12 mb-20">
                                       <label>Email Address*</label>
                                       <input type="email" placeholder="Email Address">
                                   </div>

                                   <div class="col-md-6 col-12 mb-20">
                                       <label>Phone no*</label>
                                       <input type="text" placeholder="Phone number">
                                   </div>

                                   <div class="col-12 mb-20">
                                       <label>Company Name</label>
                                       <input type="text" placeholder="Company Name">
                                   </div>

                                   <div class="col-12 mb-20">
                                       <label>Address*</label>
                                       <input type="text" placeholder="Address line 1">
                                       <input type="text" placeholder="Address line 2">
                                   </div>

                                   <div class="col-md-6 col-12 mb-20">
                                       <label>Country*</label>
                                       <select class="nice-select">
                                            <option>Bangladesh</option>
                                            <option>China</option>
                                            <option>country</option>
                                            <option>India</option>
                                            <option>Japan</option>
                                       </select>
                                   </div>

                                   <div class="col-md-6 col-12 mb-20">
                                       <label>Town/City*</label>
                                       <input type="text" placeholder="Town/City">
                                   </div>

                                   <div class="col-md-6 col-12 mb-20">
                                       <label>State*</label>
                                       <input type="text" placeholder="State">
                                   </div>

                                   <div class="col-md-6 col-12 mb-20">
                                       <label>Zip Code*</label>
                                       <input type="text" placeholder="Zip Code">
                                   </div>

                               </div>

                           </div>
                           
                       </div>
                       
                       <div class="col-lg-5">
                           <div class="row">
                               
                               <!-- Cart Total -->
                               {{#with cart}}
                               <div class="col-12 mb-60">
                               
                                   <h4 class="checkout-title">Cart Total</h4>                           
                                   <div class="checkout-cart-total">

                                       <h4>Product <span>Total</span></h4>
                                       
                                       <ul>
                                           {{#each items}}
                                           {{#each item}}
                                           <li>{{name}}<span>{{../price}}</span></li>
                                           {{/each}}
                                           {{/each}}
                                       </ul>
                                       
                                       <p>Sub Total <span>{{totalPrice}}</span></p>
                                       <p>Shipping Fee <span>$00.00</span></p>
                                       
                                       <h4>Grand Total <span>{{totalPrice}}</span></h4>
                                       
                                   </div>
                                   
                               </div>
                               {{/with}}
                               <!-- Payment Method -->
                               <div class="col-12 mb-60">
                               
                                   {{!-- <h4 class="checkout-title">Payment Method</h4>
                           
                                   <div class="checkout-payment-method">
                                     
                                       <div class="single-method">
                                           <input type="radio" id="payment_check" name="payment-method" value="check">
                                           <label for="payment_check">Check Payment</label>
                                           <p data-method="check">Please send a Check to Store name with Store Street, Store Town, Store State, Store Postcode, Store Country.</p>
                                       </div>
                                     
                                       <div class="single-method">
                                           <input type="radio" id="payment_bank" name="payment-method" value="bank">
                                           <label for="payment_bank">Direct Bank Transfer</label>
                                           <p data-method="bank">Please send a Check to Store name with Store Street, Store Town, Store State, Store Postcode, Store Country.</p>
                                       </div>
                                     
                                       <div class="single-method">
                                           <input type="radio" id="payment_cash" name="payment-method" value="cash">
                                           <label for="payment_cash">Cash on Delivery</label>
                                           <p data-method="cash">Please send a Check to Store name with Store Street, Store Town, Store State, Store Postcode, Store Country.</p>
                                       </div>
                                     
                                       <div class="single-method">
                                           <input type="radio" id="payment_paypal" name="payment-method" value="paypal">
                                           <label for="payment_paypal">Paypal</label>
                                           <p data-method="paypal">Please send a Check to Store name with Store Street, Store Town, Store State, Store Postcode, Store Country.</p>
                                       </div>
                                     
                                       <div class="single-method">
                                           <input type="radio" id="payment_payoneer" name="payment-method" value="payoneer">
                                           <label for="payment_payoneer">Payoneer</label>
                                           <p data-method="payoneer">Please send a Check to Store name with Store Street, Store Town, Store State, Store Postcode, Store Country.</p>
                                       </div>
                                     
                                       <div class="single-method">
                                           <input type="checkbox" id="accept_terms">
                                           <label for="accept_terms">I’ve read and accept the terms & conditions</label>
                                       </div>
                                       
                                   </div> --}}
                                   
                                   <button class="place-order" type="submit">Place order</button>
                                   
                               </div>
                               
                           </div>
                       </div>
                       
                   </div>
                </form>
                
            </div>
        </div>
    </div>
</div>
<!-- Checkout Page End --> 



{{> brands}}

{{> subscribe}}
