
<!-- Login Section Start -->
<div class="login-section section mt-90 mb-90">
    <div class="container">
        <div class="row">
            
            <!-- Login -->
            <div class="col-md-6 col-12 d-flex">
                <div class="ee-login">
                    
                    <h3>Login to your account</h3>
                    {{!-- <p>E&E provide how all this mistaken idea of denouncing pleasure and sing pain born an will give you a complete account of the system, and expound</p> --}}
                    {{#if error_msg}}
                    {{error_msg}}
                    {{/if}}

                    {{#if success_msg}}
                    {{success_msg}}
                    {{/if}}

                    <h4>{{message}}</h4>
                    <!-- Login Form -->
                    <form action="/user/login" method="POST">
                        <div class="row">
                            <div class="col-12 mb-30"><input name="username" type="text" placeholder="Type your username or email address" value="{{username}}"></div>
                            <div class="col-12 mb-20"><input name="password" type="password" placeholder="Enter your passward" value="{{password}}"></div>
                            <div class="col-12 mb-15">
                                
                                <input type="checkbox" name="remember_me" id="remember_me" {{#if remember_me}}checked{{else}}{{/if}}>
                                <label for="remember_me">Remember me</label>
                                
                                <a href="/user/forgot-pwd">Forgotten pasward?</a>
                                
                            </div>
                            <div class="col-12"><input type="submit" value="LOGIN"></div>
                        </div>
                    </form>
                    <h4>Don’t have account? please click <a href="/user/register">Register</a></h4>
                    
                </div>
            </div>
            
            <div class="col-md-1 col-12 d-flex">
                
                <div class="login-reg-vertical-boder"></div>
                
            </div>
            
            <!-- Login With Social -->
            <div class="col-md-5 col-12 d-flex">
                
                <div class="ee-social-login">
                    <h3>Also you can login with...</h3>
                    
                    <a href="#" class="facebook-login">Login with <i class="fa fa-facebook"></i></a>
                    <a href="#" class="twitter-login">Login with <i class="fa fa-twitter"></i></a>
                    <a href="#" class="google-plus-login">Login with <i class="fa fa-google-plus"></i></a>
                    
                </div>
                
            </div>
            
        </div>
    </div>
</div><!-- Login Section End -->

{{> subscribe}}
