{{#section 'js'}}
    <script>
        $('#reset-form').on('submit', function(e) {
            e.preventDefault();
            console.log('ssdfsdf');
            const password = $('#password').val();
            if(password.length < 8){
                $('#get-notice').html('Password length must be >= 8 character');
                return;
            }

            const cfpassword = $('#confirm-password').val();
            if(password != cfpassword){
                $('#get-notice').html('You must be confirm the right password');
                return;
            }

            $('#reset-form').off('submit').submit();
        })
    </script>
{{/section}}

<!-- Login Section Start -->
<div class="login-section section mt-90 mb-90">
    <div class="container">
        <div class="row">
            
            <!-- Login -->
            <div class="col-md-6 col-12 d-flex">
                <div class="ee-login">
                    
                    <h3>Reset your password</h3>
                    {{!-- <p>E&E provide how all this mistaken idea of denouncing pleasure and sing pain born an will give you a complete account of the system, and expound</p> --}}
                    {{#if error_msg}}
                    {{error_msg}}
                    {{/if}}

                    {{#if success_msg}}
                    {{success_msg}}
                    {{/if}}
                    
                    {{message}}
                    <h5 id="get-notice" style="font-weight: 600;"><span>{{notice}}</span></h5>
                    <!-- Login Form -->
                    <form action="/user/reset/{{id}}" method="POST" id="reset-form">
                        <div class="row">
                            <div class="col-12 mb-30"><input id="password" name="password" type="password" placeholder="New password"></div>
                            <div class="col-12 mb-20"><input id="confirm-password" name="cfpassword" type="password" placeholder="Confirm password"></div>
                            <div class="col-12 mb-15">
                                
                            </div>
                            <div class="col-12"><input type="submit" value="CONFIRM"></div>
                        </div>
                    </form>
                    
                </div>
            </div>
            
            <div class="col-md-1 col-12 d-flex">
                
                <div class="login-reg-vertical-boder"></div>
                
            </div>
            
        </div>
    </div>
</div><!-- Login Section End -->

{{> subscribe}}
