{{#each comment}}
<div class="ratting-author">
    <h3>{{name}}</h3>
</div>
<p>{{message}}</p>
{{/each}}

<ul class="pagination">
    {{#if can_go_prev}}
    <li><a onclick="selectCommentPage(event, {{prev_page}})" data-pageNumber="{{prev_page}}"><i
                class="fa fa-angle-left"></i>Back</a></li>
    {{/if}}

    {{#each page_items}}
    <li><a onclick="selectCommentPage(event, {{value}})" data-pageNumber="{{value}}">{{value}}</a></li>
    {{/each}}

    {{#if can_go_next}}
    <li><a onclick="selectCommentPage(event, {{next_page}})" data-pageNumber="{{next_page}}">Next<i
                class="fa fa-angle-right"></i></a></li>
    {{/if}}

</ul>